<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Shapes Demo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShapesDemo"
        tools:targetApi="31">
        <activity
            android:label="Shapes and Morphs"
            android:name=".compose.ShapesAndMorphsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Shapes"
            android:name=".view.ShapesActivity"
            android:exported="true"
            android:taskAffinity="dev.chet.graphics.shapes.shapesdemo.ShapesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Outlines"
            android:name=".compose.OutlineActivity"
            android:exported="true"
            android:taskAffinity="dev.chet.graphics.shapes.shapesdemo.OutlineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>